@model projekt_ps_DBUS.ViewModels.ResultsViewModel

<div id="dbusData">
    <h2>Type: 
        @{
            if(@Model.Type != null)
            {
                @Html.Raw(@Model.Type);
            }
            else
            {
                @Html.Raw("All");
            }
        }
    <h2>
    <h3>Sender: 
        @{
            if(@Model.Sender != null)
            {
                @Html.Raw(@Model.Sender;
            }
            else
            {
                @Html.Raw("All");
            }
        }
    <h3>
    <h3>Interface: 
        @{
            if(@Model.Interface != null)
            {
                @Html.Raw(@Model.Interface);
            }
            else
            {
                @Html.Raw("All");
            }
        }
    <h3>
</div>

@section Scripts {
    <script type="text/javascript">
        function getNewData() {

            $.ajax({
                url: "/Dbus/ResultsAjax" + "?type=" + "@Model.Type" + "&sender=" + "@Model.Sender" + "&interface=" + "@Model.Interface",
                type: "GET",
                success: function (data) {
                    if(data != null)
                    {
                        $("#dbusData").append("<p>" + data + "</p>");
                        getNewData();
                    }
                },
                error: function () {
                }
            });
        }

$(function(){
   getNewData();
});
    </script>
}